[project]
name = "trustyai-service"
version = "1.0.0rc0"
description = "TrustyAI Service"
authors = [{ name = "Rui Vieira" }, { name = "TrustyAI team" }]
requires-python = "~=3.11"
readme = "README.md"
dependencies = [
    "fastapi>=0.115.9,<0.116",
    "pandas>=2.2.3,<3",
    "prometheus-client>=0.21.1,<0.22",
    "pydantic>=2.4.2,<3",
    "uvicorn>=0.34.0,<0.35",
    "protobuf>=4.24.4,<7",
    "requests>=2.31.0,<3",
    "cryptography>=44.0.2,<45",
    "h5py>=3.13.0,<4",
]

[project.optional-dependencies]
dev = [
    "pytest>=7.4.2,<9",
    "isort>=5.12.0,<6",
    "flake8>=6.1.0,<7",
    "mypy>=1.5.1,<2",
    "pytest-cov>=4.1.0,<5",
    "httpx>=0.25.0,<0.29",
]
eval = ["lm-eval[api]==0.4.4", "fastapi-utils>=0.8.0", "typing-inspect==0.9.0"]
protobuf = ["numpy>=1.24.0,<2", "grpcio>=1.62.1,<2", "grpcio-tools>=1.62.1,<2"]

[tool.hatch.build.targets.sdist]
include = ["src"]

[tool.hatch.build.targets.wheel]
include = ["src"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.isort]
profile = "black"
line_length = 88

[tool.mypy]
python_version = "3.11"
warn_return_any = true
warn_unused_configs = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
check_untyped_defs = true
no_implicit_optional = true
show_error_codes = true
warn_unused_ignores = true

[tool.ruff]
preview = true
line-length = 120
fix = true
output-format = "grouped"
extend-exclude = ["utilities/manifests"]

[tool.ruff.format]
exclude = [".git", ".venv", ".mypy_cache", "__pycache__"]

[tool.pytest.ini_options]
testpaths = ["tests"]
python_files = "test_*.py"
python_functions = "test_*"
